<router-outlet></router-outlet>
<mat-sidenav-container>

    <mat-sidenav opened #sidenav opened="false">
        <mat-nav-list>
            <a mat-list-item routerLink="/signup" (click)="sidenav.close()">Signup</a>
            <a mat-list-item routerLink="/login" (click)="sidenav.close()">Login</a>
            <a mat-list-item routerLink="/cart" (click)="sidenav.close()">Cart</a>
            <a mat-list-item routerLink="/" (click)="sidenav.close()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary" fxLayoutGap="15">

            <a routerLink="/"> LOGO </a>

            <div fxHide.gt-xs="">
                <button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            </div>

            <div fxLayoutGap="15" fxHide.xs>
                <a routerLink="/shop">Shop</a>
                
            </div>   

            <div fxFlex fxLayoutAlign="end" fxLayoutGap="15" fxHide.xs> 
                <a routerLink="/login">Login</a>
                <a routerLink="/signup">Signup</a>
                <a routerLink="/">Logout<mat-icon>logout</mat-icon></a>
                <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>                
            </div>

        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>


</mat-sidenav-container>